<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/alerta.css' %}">
    <link rel="stylesheet" href="{% static 'css/visualizar1.css' %}">
    <link rel="stylesheet" href="{% static 'css/principal1.css' %}">
    <link rel="stylesheet" href="{% static 'css/buscar.css' %}">
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>