<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="conteiner_lista">
                <a href="{% url 'criarpokemon' %}" class="conteiner_lista__link"><li class="conteiner_lista__conteudo">Criar pokemon</li></a>
                <a href="{% url 'visualizar_pokemon' %}" class="conteiner_lista__link"><li class="conteiner_lista__conteudo">Pokemons</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <div class="div">
            <form action="{% url 'criarpokemon' %}" class="formulario" method="post"> {% csrf_token %}
                <label class="formulario--label" for="">Digite o nome do pokemon: </label>
                <input class="formulario--input" type="text" name="pokemonzinho" id="" >
                <button class="formulario--button" type="submit">Procurar</button>
            </form>
        </div>
    </main>
</body>