{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_nav.html' %}  
    <main>
        {% include 'partials/_alertas.html' %}
        <div class="div">
            <form action="{% url 'criarpokemon' %}" class="formulario" method="post"> {% csrf_token %}
                <label class="formulario--label" for="">Digite o nome do pokemon: </label>
                <input class="formulario--input" type="text" name="pokemonzinho" id="" >
                <button class="formulario--button" type="submit">Procurar</button>
            </form>
        </div>
    </main>
{% endblock %}