{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_nav.html' %}
    <main>
        {% include 'partials/_busca.html' %}
        {% include 'partials/_alertas.html' %}
        {% if pokemon %}
            <div class="conteiner">
                {% for poke in pokemon %}
                    <div class="conteiner__pokemon">
                        <a class="conteiner__pokemon--link" href="{% url 'visualizar_pokemon' poke.slug %}">
                            <img class="conteiner__pokemon--imagem" src="{{poke.foto_pokemon}}" alt="imagem do pokemon">
                            <h2 class="conteiner__pokemon--conteudo">Nome: <br>{{poke.nome}} </h2>
                            <p class="conteiner__pokemon--conteudo">Pokedex: <br>{{poke.numero_pokedex}} </p>
                            <p class="conteiner__pokemon--conteudo">habilidades: <br> {{poke.habilidade1}} <br>{{poke.habilidade2}} </p>
                            <p class="conteiner__pokemon--conteudo">altura: <br>{{poke.altura}} metros </p>
                            <p class="conteiner__pokemon--conteudo">status: <br> {{poke.status_hp}} <br>{{poke.status_ataque}}  <br>{{poke.status_defesa}}  <br> {{poke.status_ataque_especial}} <br>{{poke.status_defesa_especial}}  <br> {{poke.status_velocidade}} </p>
                            <p class="conteiner__pokemon--conteudo">tipo: <br> {{poke.tipo1}} <br> {{poke.tipo2}} </p>
                        </a>
                    </div>           
                {% endfor %}
            </div>    
        {% endif %}
    </main>
{% endblock %}