<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="formulario.css">
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <header>
        <nav>
            <ul class="conteiner_lista">
                <a href="" class="conteiner_lista__link"><li class="conteiner_lista__conteudo">Home</li></a>
                <a href="" class="conteiner_lista__link"><li class="conteiner_lista__conteudo">Pokemons</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <div class="div">
            <form action="" class="formulario"> 
                <label class="formulario--label" for="">Digite o nome do pokemon: </label>
                <input class="formulario--input" type="text" name="" id="" >
                <button class="formulario--button" type="submit">Procurar</button>
            </form>
        </div>
    </main>
</body>