<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="visualizar.css">
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <header>
        <nav>
            <ul class="conteiner_lista">
                <a href="" class="conteiner_lista__link"><li class="conteiner_lista__conteudo">Home</li></a>
                <a href="" class="conteiner_lista__link"><li class="conteiner_lista__conteudo">Pokemons</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <div class="conteiner_pokemon">
            <div class="conteiner_pokemon__pokemon">
                <img class="conteiner_pokemon__pokemon--imagem" src="" alt="imagem do pokemon">
                <h2 class="conteiner_pokemon__pokemon--conteudo">Nome: <br> </h2>
                <p class="conteiner_pokemon__pokemon--conteudo">Pokedex: <br> </p>
                <p class="conteiner_pokemon__pokemon--conteudo">habilidades: <br>  <br> </p>
                <p class="conteiner_pokemon__pokemon--conteudo">altura: <br> </p>
                <p class="conteiner_pokemon__pokemon--conteudo">status: <br>  <br>  <br>  <br>  <br> <br> </p>
                <p class="conteiner_pokemon__pokemon--conteudo">tipo: <br> </p>
            </div>
            
        </div>
    </main>
</body>
</html>